.container {
  position: relative;
  color: #deeaeb;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.middle-text {

margin-top: 350px;
  margin-left:  850px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-family: cursive; 
  line-height: 0.8; 
}

.middle-text h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
.middle-text h2 {

  margin-bottom: 10px;
}

.middle-text h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.middle-text h5 {
  font-size: 14px;
  margin-bottom: 15px;
}
/* 3D Image Background */
body::before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('/home/ds/Desktop/Zuqo Assignment/zuqo-assignment/client/src/assets/mt1jdqwj6id81.jpg') center/cover no-repeat fixed;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateZ(-1px);
  z-index: -1;

}

/* Navigation Links */


nav {
  position: absolute;
  top: 20px;
  right: 50px; 
  display: flex;
}

nav a {
  margin-right: 30px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: x-large;
  font-family: cursive;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #100f0f;
}

/* .circles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 120px;
}

.circle{
  width: 200px;
  height: 200px;
  border: 30px solid #dfe4db8f;
  border-radius: 500%;
  margin: -50px -18px 0;
  box-shadow: 0 0 20px rgba(1, 1, 1, 0.3);


} */


.infinity {
  position: relative;
  width: 300px; 
  height: 150px;
  margin-left: 740px;
margin-top: -45px;
}

.infinity::before,
.infinity::after {
  content: "";
  position: absolute;
  width: 89px; 
  height: 89px; 
  border: 28px solid #17538e65; 
  border-radius: 74px 74px 0 74px; 
  transform: rotate(-45deg);
  background: linear-gradient(rgba(0, 0, 0, 0.504), rgba(0, 0, 0, 0.749))

}

.infinity::after {
  left: auto;
  right: 0;
  border-radius: 75px 75px 75px 0; 
  transform: rotate(45deg);
}
.infinity:hover::before,
.infinity:hover::after {
  background: none;
}


@media only screen and (max-width: 600px) {
  .infinity {
    width: 80%;
    height: auto; 
    margin: 20px auto;
  }
}
.infinity-image {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 1; 
  width: 25%;
  border-radius: 20px;
  height: auto;
}

.SeContainer {
  position: relative;
  margin-left: 1200px;
  top: -400px;
  font-family: 'Times New Roman', Times, serif;
  background: #7e2778;
  width: 250px;
  height: 50px;
  border-radius: 10px; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; 
}
.first-word {
  font-size: 1.2em; 
  font-weight: bold;
}
.FormContainer {
  background: #fff;
  font-size: large;
  color: #050505;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1110px;
  width: 400px;
  height: 320px;
  border-radius: 20px;
  margin-top: -430px; 
  padding: 20px;
  box-shadow: 0 0 10px rgba(20, 1, 1, 0.1); 
}

.FormContainer form {
  display: flex;
  flex-direction: column;
}

.FormContainer label {
  margin-bottom: 1px;
  font-size: medium;
  color: #050505;
  font-weight: 100px;
  font-style: italic;
}

.FormContainer input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #050505;
  border-radius: 10px;
}

.FormContainer button {
  padding: 10px;
  margin-top: 20px;
  background: #5086b5;
  color: #f6f1f1;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: large;
}
#showPassword {
  margin-right: 380px;
  margin-top: 15px;

}
/* Define your default styles */

@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

/* For medium screens (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

/* For large screens (desktops) */
@media only screen and (min-width: 1025px) {
  body {
    font-size: 16px;
  }
}


